@mixin styles {
  /* Framework color */
  --main-bg: #e1e1de;
  --mask-bg: #b5b5ae;
  --main-border-color: #d8d8d2;

  /* Common color */
  --text-color: #595b62;
  --text-muted-color: #858479;
  --text-muted-highlight-color: #5d5c54;
  --heading-color: #4c4c65;
  --label-color: #5d5c54;
  --blockquote-border-color: #d3d0c3;
  --blockquote-text-color: #858479;
  --link-color: #618bb6;
  --link-underline-color: #d3d0c3;
  --button-bg: #e6e6e3;
  --btn-border-color: #d3d0c3;
  --btn-backtotop-color: #5d5c54;
  --btn-backtotop-border-color: #d8d8d2;
  --checkbox-color: #a9a8a0;
  --checkbox-checked-color: #618bb6;
  --img-bg: radial-gradient(circle, #e6e6e3 0%, #d3d0c3 100%);
  --shimmer-bg: linear-gradient(
    90deg,
    rgba(250, 250, 250, 0) 0%,
    rgba(213, 210, 195, 1) 50%,
    rgba(250, 250, 250, 0) 100%
  );

  /* Sidebar */
  --site-title-color: #858479;
  --site-subtitle-color: #858479;
  --sidebar-bg: #d3d0c3;
  --sidebar-border-color: #cbc8bc;
  --sidebar-muted-color: #5d5c54;
  --sidebar-active-color: #4c4c65;
  --sidebar-hover-bg: #d8d8d2;
  --sidebar-btn-bg: #e1e1de;
  --sidebar-btn-color: #a9a8a0;
  --avatar-border-color: #e1e1de;

  /* Topbar */
  --topbar-bg: rgba(225, 225, 222, 0.7);
  --topbar-text-color: #595b62;
  --search-border-color: #d3d0c3;
  --search-icon-color: #a9a8a0;
  --input-focus-border-color: #b5b5ae;

  /* Home page */
  --post-list-text-color: #595b62;
  --btn-patinator-text-color: #5d5c54;
  --btn-paginator-hover-color: var(--sidebar-bg);

  /* Posts */
  --toc-highlight: #526994;
  --toc-popup-border-color: #cbc8bc;
  --btn-share-color: #858479;
  --btn-share-hover-color: #526994;
  --card-bg: #e1e1de;
  --card-hovor-bg: #d3d0c3;
  --card-shadow: rgba(169, 168, 160, 0.05) 0 2px 6px 0,
    rgba(211, 208, 195, 0.15) 0 0 0 1px;
  --footnote-target-bg: #c4cbdc;
  --tb-odd-bg: #ecece8;
  --tb-border-color: #d3d0c3;
  --dash-color: #b5b5ae;
  --kbd-wrap-color: #b5b5ae;
  --kbd-text-color: var(--text-color);
  --kbd-bg-color: #e6e6e3;
  --prompt-text-color: rgba(77, 77, 101, 0.77);
  --prompt-tip-bg: rgba(113, 142, 100, 0.2);
  --prompt-tip-icon-color: #718e64;
  --prompt-info-bg: #e0e5e8;
  --prompt-info-icon-color: #5f8a9b;
  --prompt-warning-bg: #ebe4df;
  --prompt-warning-icon-color: #c08a48;
  --prompt-danger-bg: rgba(199, 87, 88, 0.56);
  --prompt-danger-icon-color: #b35560;

  /* Tags */
  --tag-border: #d3d0c3;
  --tag-shadow: var(--btn-border-color);
  --tag-hover: #d8d8d2;
  --search-tag-bg: #e6e6e3;

  /* Categories */
  --categories-border: rgba(181, 181, 174, 0.125);
  --categories-hover-bg: var(--btn-border-color);
  --categories-icon-hover-color: #4c4c65;

  /* Archive */
  --timeline-color: rgba(169, 168, 160, 0.075);
  --timeline-node-bg: #a9a8a0;
  --timeline-year-dot-color: #e1e1de;

  /* --- Custom code light mode colors --- */
  --language-border-color: #d3d0c3;
  --highlight-bg-color: #ecece8;
  --highlighter-rouge-color: #5f847c;
  --highlight-lineno-color: #a9a8a0;
  --inline-code-bg: rgba(93, 92, 84, 0.05);
  --code-color: #595b62;
  --code-header-text-color: #a9a8a0;
  --code-header-muted-color: #d3d0c3;
  --code-header-icon-color: #cbc8bc;
  --clipboard-checked-color: #718e64;

  [class^="prompt-"] {
    --link-underline-color: #d3d0c3;
  }

  .dark {
    display: none;
  }

  /* --- Syntax highlight theme from `rougify style github` --- */

  .highlight table td {
    padding: 5px;
  }

  .highlight table pre {
    margin: 0;
  }

  .highlight,
  .highlight .w {
    color: #24292f;
    background-color: #f6f8fa;
  }

  .highlight .k,
  .highlight .kd,
  .highlight .kn,
  .highlight .kp,
  .highlight .kr,
  .highlight .kt,
  .highlight .kv {
    color: #cf222e;
  }

  .highlight .gr {
    color: #f6f8fa;
  }

  .highlight .gd {
    color: #82071e;
    background-color: #ffebe9;
  }

  .highlight .nb {
    color: #953800;
  }

  .highlight .nc {
    color: #953800;
  }

  .highlight .no {
    color: #953800;
  }

  .highlight .nn {
    color: #953800;
  }

  .highlight .sr {
    color: #116329;
  }

  .highlight .na {
    color: #116329;
  }

  .highlight .nt {
    color: #116329;
  }

  .highlight .gi {
    color: #116329;
    background-color: #dafbe1;
  }

  .highlight .kc {
    color: #0550ae;
  }

  .highlight .l,
  .highlight .ld,
  .highlight .m,
  .highlight .mb,
  .highlight .mf,
  .highlight .mh,
  .highlight .mi,
  .highlight .il,
  .highlight .mo,
  .highlight .mx {
    color: #0550ae;
  }

  .highlight .sb {
    color: #0550ae;
  }

  .highlight .bp {
    color: #0550ae;
  }

  .highlight .ne {
    color: #0550ae;
  }

  .highlight .nl {
    color: #0550ae;
  }

  .highlight .py {
    color: #0550ae;
  }

  .highlight .nv,
  .highlight .vc,
  .highlight .vg,
  .highlight .vi,
  .highlight .vm {
    color: #0550ae;
  }

  .highlight .o,
  .highlight .ow {
    color: #0550ae;
  }

  .highlight .gh {
    color: #0550ae;
    font-weight: bold;
  }

  .highlight .gu {
    color: #0550ae;
    font-weight: bold;
  }

  .highlight .s,
  .highlight .sa,
  .highlight .sc,
  .highlight .dl,
  .highlight .sd,
  .highlight .s2,
  .highlight .se,
  .highlight .sh,
  .highlight .sx,
  .highlight .s1,
  .highlight .ss {
    color: #0a3069;
  }

  .highlight .nd {
    color: #8250df;
  }

  .highlight .nf,
  .highlight .fm {
    color: #8250df;
  }

  .highlight .err {
    color: #f6f8fa;
    background-color: #82071e;
  }

  .highlight .c,
  .highlight .ch,
  .highlight .cd,
  .highlight .cm,
  .highlight .cp,
  .highlight .cpf,
  .highlight .c1,
  .highlight .cs {
    color: #68717a;
  }

  .highlight .gl {
    color: #68717a;
  }

  .highlight .gt {
    color: #68717a;
  }

  .highlight .ni {
    color: #24292f;
  }

  .highlight .si {
    color: #24292f;
  }

  .highlight .ge {
    color: #24292f;
    font-style: italic;
  }

  .highlight .gs {
    color: #24292f;
    font-weight: bold;
  }
}
